@import 'vars';

.ShoopingCartItem {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
}
.ShoopingCartItem figure {
    margin: 0;
}
.ShoopingCartItem figure img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}
.ShoopingCartItem p:nth-child(2) {
    color: var(--very-light-pink);
}
.ShoopingCartItem p:nth-child(3) {
    font-size: var(--md);
    font-weight: bold;
}